<!--Division for GeeksForGeeks heading-->
<div class="container-fluid">
  <!--Division for taking input from user -->
  <div class="row bg-info">
    <div class="col-md-6 offset-md-3 btn-group ">
      <button (click)="new()" class="btn text-secondary"><i class="fa fa-plus"></i> Add</button>
      <button (click)="deleteSelectedClaims()" class="btn text-danger"><i class="fa fa-trash"></i> Delete selected tasks</button>
      <button (click)="markAsTODOSelectedClaims()" class="btn text-success"><i class="fa fa-check"></i> Mark as TODO</button>
      <button (click)="markAsDONESelectedClaims()" class="btn text-warning"><i class="fa fa-times"></i> Mark as DONE</button>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let t of allTasks; let index = index;" class="col-md-6 btn-group offset-md-3 task"
         [ngClass]="{'done': t.status === 'DONE', 'todo': t.status === 'TODO' }">

      <div style="width: 25px !important; horiz-align: center; margin: 0 auto;  display: table;">
        <label class="form-radio">
          <input type="checkbox" (change)="checkbox(t, index)" [(ngModel)]="t.checked" value="{{t._id}}">
        </label>
      </div>
      <div class="col-md-8" *ngIf="t.editContent == false">
        <h3 *ngIf="t.title != null">{{t.title | uppercase}} </h3>
        <h5 *ngIf="t.description != null">{{t.description}}</h5>
        <span *ngIf="t.createdAt != null"  class="text-right">Created : {{t.createdAt | date: 'M/d/yyyy'}}</span>
      </div>
      <div class="col-md-8" *ngIf="t.editContent == true">
        <form [formGroup]="editTask">
          <input formControlName="title" type="text" class="form-control form-control-alternative"><br>
          <input formControlName="description" type="text" class="form-control form-control-alternative">
        </form>
      </div>
      <div class="col-md-4 text-right">
        <button *ngIf="t.status == 'TODO'" (click)="check(t)" type="button" class="btn btn-success"><i class="fa fa-check"></i></button>
<!--        <button *ngIf="t.status == 'DONE'" (click)="unCheck(t)" type="button" class="btn btn-primary"><i class="fa fa-times"></i></button>-->
        <button (click)="deleteTask(index, t)" type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>

        <button *ngIf="t.editContent == true"  [disabled]="!editTask.valid" (click)="confirmEdit(t)" type="button" class="btn btn-warning">OK</button>
        <button *ngIf="t.editContent == false" (click)="edit(t)" type="button" class="btn btn-warning"><i class="fa fa-pencil"></i></button>
      </div>
    </div>
  </div>
</div>
