<div class="modal-header">
  <h4 class="modal-title">New task</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="addTask">
    <label>Title :</label>
    <input formControlName="title" type="text" class="form-control form-control-alternative">
    <span *ngIf="addTask.controls.title.touched && addTask.controls.title.errors.required "
          style="font-size: 12px;color: red !important;">Required Field</span><br>
    <label>Description :</label>
    <input formControlName="description" type="text" class="form-control form-control-alternative">
    <span *ngIf="addTask.controls.description.touched && addTask.controls.description.errors.required "
          style="font-size: 12px;color: red !important;">Required Field</span><br>
    <div *ngIf="addTask.errors" class="alert alert-danger">
      {{ addTask.errors }}
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" [disabled]="!addTask.valid" (click)="onClickOk()">Confirm</button>
  <button type="button" class="btn btn-outline-darks" (click)="activeModal.close('Close click')">Close</button>
</div>
